<!--<mat-card>
  <mat-card-content>
    <form [formGroup]="loginform" (ngSubmit)="onSubmit()">

      <h2>User Log In</h2>
      <img src="../../../assets/images/usericon.svg" height="100px" width="100px"/>
      <mat-error *ngIf="loginInvalid">
        The username and password were not recognised
      </mat-error>
      <mat-form-field class="full-width-input">
        <input matInput placeholder="Email" formControlName="username" required>
        <mat-error>
          Please provide a valid email address
        </mat-error>
      </mat-form-field>
      <mat-form-field class="full-width-input">
        <input matInput type="password" placeholder="Password" formControlName="password" required>
        <mat-error>
          Please provide a valid password
        </mat-error>

      </mat-form-field>
      <mat-checkbox>Remember me?</mat-checkbox><br>
      <button mat-raised-button color="primary">Login</button> 
    </form>
  </mat-card-content>
</mat-card>-->
<p class="heading header-label">Welcome Back</p>
<p class="sign-caption">Please Sign to access your account</p>
<p class="registration-caption">Don't have an account? <a href="javascript:;" style="color: #4eac46;" (click) = "navigate('auth/Registration')">Register</a></p>
<form [formGroup]="loginform" (ngSubmit)="onSubmit()" style="padding:14%;padding-top: 20px;">
  <mat-error *ngIf="loginInvalid">
    The username and password were not recognised
  </mat-error>

  <div id="label" class="form-group">
    <label for="usr">Email:</label>
    <input type="text" placeholder="Enter Email Id" class="form-control" formControlName="emailid" id="emailid"
      formControlName="username" required>
  </div>

  <div id="label" class="form-group">
    <label for="usr">Password:</label>
    <input type="password" placeholder="Password" formControlName="password" class="form-control" id="password"
      required>
  </div>
  <a href="javascript;" class="forgot-password">Forgot Password?</a>
  <p class="terms-condition">By Signing up you agree to the ViuDocs <span class="accept-text">Terms</span> and <span
      class="accept-text">Privacy Policy</span></p>
      <button type="submit" class="btn register">Sign in</button>
</form>